@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans&family=Staatliches&family=Tourney:wght@600&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.menu__link {
  list-style: none;
  display: inline;
}

.nav {
  width: 1440px;
  padding: 16px 120px; 
  font-family: Staatliches;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.66px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.menu__link_lang {
  text-align: center;
  font-family: Tourney;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.32px;
  text-transform: uppercase;
  margin-right: 46px;
}
.menu__link_slash {
  margin: 0 6px;
}
.menu__link {
  text-decoration: none;
  color: #000;
}

main {
  width: 1200px;
  padding-bottom:  90px;
} 

.title {
  font-family: Francois One;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.chapter {
  font-feature-settings: "sups" on;
  font-family: 'Farro';
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.section {
  width: 1200px;
  color: #000;
  font-family: PT Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 70px;
}

p {
  margin-bottom: 40px;
}

p:last-child {
  margin-bottom: 0;
}
.section:last-child{
  margin-bottom: 0;
}

span {
  background-color: #dadada;
}

a {
  color: #000;
}
em {
  font-family: PT Sans;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
}

